.calendar-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.calendar-table th, .calendar-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.not-current-month {
    color: #999;
}

.commemorative-day {
    background-color: #ffd700;
    cursor: pointer;
}
